# EXACT --------------------------------------------------------------------------------------------
/public/
/ignore/
/logs/
/test*.js

# BY MASK ------------------------------------------------------------------------------------------
*.iml
.idea
.DS_Store
node_modules
npm-debug.log
